.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #4169e1;
  background-color: #ffffff;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;

  border-color: #eff3fb;
  background-color: #4169e1;
}
